{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{ asset(app.user.WebPath) }}" class="avatar img-circle" alt="avatar" style="width: 150px;height: 150px">
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{ user.prenom }} {{ user.nom }}</h4>
                        <small><cite title="San Francisco, USA"> {{ user.ville }} <i class="glyphicon glyphicon-map-marker">
                                </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>{{ user.anniversaire|date('d/m/Y') }}</p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Actions</span>
                            </button>
                            <ul class="dropdown-menu dropdown">
                                <li><a href="{{ path('fos_user_profile_edit') }}">Modifier le profil</a></li>
                                <li><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">déconnexion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="box" onDesktop="span4">
{#<div class="box span4" onDesktop="span4">#}
    <div class="box-header" style="height: 35px">
        <h2><i class="icon-calendar"></i><span class="break"></span>mes événements</h2>
        <div class="box-icon">
        </div>
    </div>
    <div class="box-content">
        <ul class="dashboard-list">
            {% if not app.user.events.empty %}
                {% for event in app.user.events %}
                    <li>
                        <a href="#">
                            <img class="avatar" alt="Dennis Ji" src="{{ asset(event.WebPath) }}">
                        </a>
                        <strong>Nom:</strong> <a href="{{ path('event_show', { 'id': event.id }) }}"> {{ event.libelleEvent }}</a><br>
                        <strong>Date:</strong> le {{ event.dateEvent|date('d/m/Y')}} de {{ event.heureDebut|date('H') }}h à {{ event.heureFin|date('H')}}h<br>
                        <strong>Status:</strong> <span class="label label-success">Inscrit</span>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div><!--/span-->

