{% extends '::Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
    <h1>Listes des événements </h1><br>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('event_new') }}">Create a new event</a>
    {% endif %}
    {% if is_granted('ROLE_PROP') %}
        <a href="{{ path('event_new') }}">Create a new event</a>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('notice') %}

    {% endfor %}

    {% for event in events %}
        {% if (is_granted('ROLE_PROP') and app.user.id == event.barId.userId.id) or is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and not is_granted('ROLE_PROP'))%}
        <div class="container">
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="{{ asset('assets/Utilisateurs/img/gallery/bar1.jpg') }}" style="height:150px; width: 150px;">
                    </a>
                    <div class="media-body">
                        <h1 class="media-heading">{{ event.libelleevent }} au {{ event.barId.name}}</h1>
                        <h6>{{ event.dateevent|date('D-M-Y') }}</h6>
                        <span class="btn-sm alert-info">Bière Belges</span>
                        <span class="btn-sm alert-warning">Étudiants</span>
                        <hr>
                        <div class="text-right">
                            {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('event_show', { 'id': event.id }) }}">
                                    <span class="btn btn-lg btn-info"><span class="glyphicon glyphicon-info-sign"></span>Détails</span>
                                </a>
                            {% endif %}

                            {% if event in app.user.events %}
                                <a href="{{ path('event_addUser',{'user': app.user.id,'event': event.id }) }}">
                                    <a href="{{ path('event_removeUser',{'user': app.user.id,'event': event.id }) }}">
                                    <span class="btn btn-lg btn-success"><span class="glyphicon glyphicon-check"></span>Se déinscrire</span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_PROP') and event not in app.user.events%}
                                <a href="{{ path('event_addUser',{'user': app.user.id,'event': event.id }) }}">
                                    <span class="btn btn-lg btn-success"><span class="glyphicon glyphicon-check"></span> S'inscrire</span>
                                </a>
                               {# {% if is_granted('') %}#}
{#                                <a href=""{{ path('event_removeUser','user': app.user.id,'event':event.id }) }}">
                                    <span class="btn btn-lg btn-success"><span class="glyphicon glyphicon-check"></span> Se désinscrire</span>
                                </a>#}
                            {% endif %}
                            {% if is_granted('ROLE_PROP') and app.user.id == event.barId.userId.id %}
                                <a href="{{ path('event_edit', { 'id': event.id }) }}">
                                    <span class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-pencil"></span> Modifier</span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('event_edit', { 'id': event.id }) }}">
                                    <span class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-pencil"></span> Modifier</span>
                                </a>
                                <a href="{{ path('event_delete', { 'id': event.id }) }}">
                                    <span class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-minus"></span> Supprimer</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </tbody>


{% endblock %}