{% extends 'Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
    <h1>Event</h1>

    <table class="table table-condensed">
        <tbody>      <tr>
            <th>Bar</th>
            <td>{{ event.barid}}</td>
        </tr>
        <tr>
            <tr>
                <th>Libelle_event</th>
                <td>{{ event.libelleevent }}</td>
            </tr>
            <tr>
                <th>Date_event</th>
                <td>{% if event.dateevent %}{{ event.dateevent|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>descrition_event</th>
                <td>{{ event.descritionevent }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>

            <a href="{{ path('event_index') }}" button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
                Back to the list
            </a>
            </button>
        </li>
        </br>
        {% if is_granted('ROLE_PROP') or is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}"button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>
            </button>
        </li>
        {% endif %}
        </br>
        {% if is_granted('ROLE_PROP') or is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <button class="btn btn-info"input type="submit" value="Delete">
                    <span class="glyphicon glyphicon-minus"></span>
                    Delete
                </button>
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
