{% extends 'Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
    <h1>Event</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Bar</th>
                <td>{{ event.barId.name }}</td>
            </tr>
            <tr>
                <th>Libelle_event</th>
                <td>{{ event.libelleevent }}</td>
            </tr>
            <tr>
                <th>Date_event</th>
                <td>{% if event.dateevent %}{{ event.dateevent|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>photo_event</th>
                <td>    <div class="item active">
                        {#<img src="{{ asset(event.image) }}" alt="Chania" width="500"></div></td>#}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <br/>
        <li>
            <a class="btn btn-info" role="button" href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <br/>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" role="button" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
