{% extends 'Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle_event</th>
                <th>Date_event</th>
                <th>bar</th>
                {% if is_granted("ROLE_PROR") %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.libelleevent }}</td>
                <td>{% if event.dateevent %}{{ event.dateevent|date('Y-m-d') }}{% endif %}</td>
                <td>{{ event.barid }}</td>
                <td>
                    {% if is_granted("ROLE_PROR") %}
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if is_granted("ROLE_PROR") %}
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
