{% extends 'Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
{% if is_granted('ROLE_PROP') and app.user.id == bar.userId.id %}

    <h1>Modification du bar : {{ bar.name }}</h1>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('bar_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
{% endif %}
{% endblock %}
