{% extends 'Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
    <h1>Bars list</h1>

    <table>
        <thead>
            <tr>
                <th>Bar_id</th>
                <th>Name</th>
                <th>Ville</th>
                {% if is_granted("ROLE_PROR") %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>


        <tbody>
        {% for bar in bars %}
            <tr>
                <td><a href="{{ path('bar_show', { 'id': bar.id }) }}">{{ bar.id }}</a></td>
                <td>{{ bar.name }}</td>
                <td>{{ bar.ville }}</td>
                <td>
                    {% if is_granted("ROLE_PROR") %}
                    <ul>
                        <li>
                            <a href="{{ path('bar_show', { 'id': bar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bar_edit', { 'id': bar.id }) }}">edit</a>
                        </li>
                    </ul>
                    {% endif %}
                </td>
            </tr>
            {{ dump(bar) }}
        {% endfor %}
        </tbody>
    </table>
    <body>
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            #map {
                height: 400px;
                width: 100%;
            }
        </style>
    </head>
    <body>
    <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW">
        <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {lat: -34.397, lng: 150.644}
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCjQF0jXVa3CpSscQuUMAwn_LbcGGdfDM&callback=initMap"></script>
    </body>
    {% if is_granted("ROLE_PROP") %}
    <ul>
        <li>
            <a href="{{ path('bar_new') }}">Create a new bar</a>
        </li>
    </ul>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
    <ul>
        <li>
            <a href="{{ path('bar_new') }}">Create a new bar</a>
        </li>
        {#<li>#}
            {#<a href="{{ path('bar_delete') }}">Create a new bar</a>#}
        {#</li>#}
    </ul>

{% endif %}
{% endblock %}
