{% extends 'Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
    <div class="well">
        {{ form_start(search_form) }}
        {{ form_widget(search_form) }}
        <input type="submit" value="rechercher" />
        {{ form_end(search_form) }}
    </div>
    <h1>Liste des bars</h1>
    {% if is_granted("ROLE_PROP") %}
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('bar_new') }}">crée un nouveau bar</a>
    {% endif %}
    <br>
    <table class="table table-bordered">
        {% for bar in bars%}
            <div class="container">
                <div class="well">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="{{ asset(bar.WebPath) }}" style="height:150px; width: 150px;">
                        </a>
                        <div class="media-body">
                            <h1 class="media-heading">{{ bar.name}}</h1>
                            <h6>{{ bar.ville }}</h6>
                            {% for category in bar.category %}
                                <span class="btn-sm btn-{{ category.type }}">{{ category.name }}</span>
                            {% endfor %}
                            <hr>
                            <p class="text-left">{{ bar.description }}</p>
                            <div class="text-right">
                                {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('bar_show', { 'id': bar.id }) }}">
                                        <span class="btn btn-lg btn-info"><span class="glyphicon glyphicon-info-sign"></span> Détails</span>
                                    </a>
                                {% endif %}
                                {% if is_granted("ROLE_PROP") and app.user.id==bar.userId.id %}
                                    <a href="{{ path('bar_edit', { 'id': bar.id }) }}">
                                        <span class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-info-sign"></span> Modifier</span>
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('bar_edit', { 'id': bar.id }) }}">
                                        <span class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-pencil"></span> Modifier</span>
                                    </a>
                                    <a href="{{ path('bar_delete', { 'id': bar.id }) }}">
                                        <span class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-minus"></span> Supprimer</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </table>
{% endblock %}
