{% extends 'Utilisateurs/utilisateursLayout.html.twig' %}
{% block page %}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <h1>Bar</h1>

    <table>
        <tbody>
            <tr>
                <th>Bar_id</th>
                <td>{{ bar.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bar.name }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ bar.ville }}</td>
            </tr>
        </tbody>
    </table>

    <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW">
        <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {lat: -34.397, lng: 150.644}
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCjQF0jXVa3CpSscQuUMAwn_LbcGGdfDM&callback=initMap"></script>
    <ul>
        <li>
            <a href="{{ path('bar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bar_edit', { 'id': bar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
